$accordion-button__icon-size: size(17px);
$accordion-button__label-spacing: size(6px);

@mixin accordion-button($this: '', $includeDropShadow: true, $v-padding: false) {
    align-items: baseline;
    cursor: pointer;
    display: flex;
    user-select: none;

    @if $v-padding {
        padding-bottom: $json-data-editor__v-spacing;
        padding-top: $json-data-editor__v-spacing;
    }

    @if $includeDropShadow {
        &:hover {
            box-shadow: $drop-shadow;
        }
    }

    #{$this}__icon,
    #{$this}__text {
        display: block;
    }

    #{$this}__icon {
        align-self: center;
        height: $accordion-button__icon-size;
        margin-right: $column-gutter-default - $accordion-button__icon-size;
        stroke-width: 2;
        width: $accordion-button__icon-size;

        &.is-hidden {
            display: none;
        }
    }

    #{$this}__text {
        margin-left: $accordion-button__label-spacing;
    }
}