@mixin json-data-editor__section($this, $title-v-padding: false) {

    #{$this}__title {
        max-width: 100%;

        &__icon {
            flex-shrink: 0;
        }
    
        &__text {      
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    
    &:not(&--depth-1) {
        > #{$this}__title {
            @include accordion-button(#{$this}__title, $includeDropShadow: false, $v-padding: false);
            padding-top: $json-data-editor__v-spacing / 2;
            padding-bottom: $json-data-editor__v-spacing / 2;
        }
        
        &.is-active {
            > #{$this}__title {
                // padding-top: $json-data-editor__v-spacing;
            }
        }
    }
    
    &--depth {
        @for $i from 1 through 10 {
            $colour: lighten($colour-grey-mid-dark, $i * 2);
        
            &-#{$i} {
                &.is-active {
                    > #{$this}__title,
                    > .block-type-editor,
                    > .array-editor-actions,
                    > .array-editor__item__footer {
                        background-color: $colour;
                    }
                }
                > #{$this}__section {
                    background-color: $colour;
                }
            }
        }

        &-1 {
            > #{$this}__section {
                // @include column-gutter('padding', 'right');
            }
            > #{$this}__title {
                @include accordion-button(#{$this}__title, $includeDropShadow: false, $v-padding: $title-v-padding);                
                // padding: $json-data-editor__v-spacing ($column-gutter-default)!important;
            }
            
            > #{$this}__title,
            > .block-type-editor,
            > .array-editor-actions,
            > .array-editor__item__footer {
                background-color: $colour-grey-light!important;
                margin-bottom: 1px;
            }
        } 
    }
}