@mixin json-data-editor__section($this, $title-v-padding: false) {
    &__title {
        @include accordion-button($includeDropShadow: false, $v-padding: $title-v-padding);
    }
    
    &--depth {
        &-1 {
            > #{$this}__section {
                @include column-gutter('padding', 'right');
            }
            > #{$this}__title {
                background-color: $colour-grey-light;
                margin-bottom: 1px;
                padding: $json-data-editor__v-spacing ($column-gutter-default)!important;
            }
        }    
    }
}